<!-- encabezado de la página del portfolio -->

<header class="flex justify-between items-center py-5 px-1 w-full xl:w-[1120px] mx-auto">
    <img 
        class="rounded-full w-12 h-12"
        src="https://files.cults3d.com/uploaders/30432444/illustration-file/05f6cb65-7416-42d3-80b5-8b99034b13f1/Freddy_render.png" 
        alt="Fred foto" 
    />

    <!-- el nav es la etiqueta que se usa para linkear en una sección de la página a otras secciones de la página o a otras páginas mediante hyperlinks, casi siempre en una lista, pero no es obligatorio  -->
    <!-- vamos a usar ids para que al clickear algunos de estos elementos del nav nos dirija al sectioncontainer correcto -->
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>